{{ if isset .Site.Params "highlight" }}<script src="{{ "/js/highlight.pack.js" | absURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>{{ end }}
 <!-- CSS -->
 <link rel="stylesheet" href="{{ "/css/poole.css" | absURL }}">
 <link rel="stylesheet" href="{{ "/css/hyde.css" | absURL }}">
 <link rel="stylesheet" href="{{ "/css/poole-overrides.css" | absURL }}">
 <link rel="stylesheet" href="{{ "/css/hyde-overrides.css" | absURL }}">
 <link rel="stylesheet" href="{{ "/css/hyde-x.css" | absURL }}">
 {{ if isset .Site.Params "highlight" }}<link rel="stylesheet" href="{{ "/css/highlight/" | absURL }}{{ .Site.Params.highlight }}.css">{{ end }}
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
 <link href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono" rel="stylesheet">
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
 {{ with .Site.Params.customCSS }}<link rel="stylesheet" href="{{ . }}">{{ end }}
</body>
</html>
